<div id="game-container" class="md-layout md-gutter md-alignment-top-center">
    <div class="md-layout-item md-size-20 md-small-hide">
        <md-list>
            <md-subheader>Dealer</md-subheader>
            <md-list-item>
                <md-icon>account_box</md-icon>
                <span>{{ dealer }}</span>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader>Member</md-subheader>
            <md-list-item v-for="member in members" :key="member">
                <md-icon>account_box</md-icon>
                <span>{{ member }}</span>
            </md-list-item>
        </md-list>
    </div>
    <div id="center-pain" class="md-layout-item md-medium-size-70 md-small-size-100">
        <md-content id="display">
            <div id="result" v-if="waits.length == 0 && scores">
                <h2 class="md-headline">result</h2>
                <div class="md-layout md-alignment-center-left" v-for="r in result" :key="r[0]">
                    <md-avatar class="md-avatar-icon md-large md-primary">
                        <md-ripple>{{r[0]}}</md-ripple>
                    </md-avatar>
                    <md-chip v-for="mem in r[1]" :key="mem">{{mem}}</md-chip>
                </div>
            </div>
            <div v-else class="md-layout md-gutter md-alignment-top-center">
                <div class="md-layout-item">
                    <h2 class="md-headline">waiting</h2>
                    <md-avatar class="md-avatar-icon md-large md-accent" v-for="w in waits" :key="w">
                        <md-tooltip md-direction="top">{{w}}</md-tooltip>
                        <md-ripple>{{w.slice(0, 2)}}</md-ripple>
                    </md-avatar>
                </div>
                <div class="md-layout-item">
                    <h2 class="md-headline">decided</h2>
                    <md-avatar class="md-avatar-icon md-large md-primary" v-for="d in dones" :key="d">
                        <md-tooltip md-direction="top">{{d}}</md-tooltip>
                        <md-ripple>{{d.slice(0, 2)}}</md-ripple>
                    </md-avatar>
                </div>
            </div>
        </md-content>
        <div id="controller">
            <div v-if="isDealer">
                <div class="md-layout md-gutter md-alignment-center-right">
                    <div class="md-layout-item"></div>
                    <md-button class="md-raised md-primary md-layout-item md-size-30" v-on:click="resetGame()">reset!
                    </md-button>
                    <div class="md-layout-item md-size-10">
                        <md-icon>info</md-icon>
                        <md-tooltip md-direction="top">Reset current game for new game session</md-tooltip>
                    </div>
                </div>
                <div class="md-layout md-gutter md-alignment-center-right">
                    <md-field class="md-layout-item">
                        <label>Change title.</label>
                        <md-input v-model="title"></md-input>
                    </md-field>
                    <md-button class="md-raised md-primary md-layout-item md-size-30" v-on:click="changeTitle(title)">
                        CHANGE!</md-button>
                    <div class="md-layout-item md-size-10">
                        <md-icon>info</md-icon>
                        <md-tooltip md-direction="top">Change title for all of members when you click CHANGE! button</md-tooltip>
                    </div>
                </div>
                <div class="md-layout md-gutter md-alignment-center-right">
                    <md-field class="md-layout-item">
                        <label>Type target user name.</label>
                        <md-input v-model="kickTarget"></md-input>
                    </md-field>
                    <md-button class="md-raised md-primary md-layout-item md-size-30" v-on:click="kickUser(kickTarget)">
                        kick!</md-button>
                    <div class="md-layout-item md-size-10">
                        <md-icon>info</md-icon>
                        <md-tooltip md-direction="top">Kick an user out if you want</md-tooltip>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="md-layout md-gutter md-alignment-center">
                    <div v-for="card in cards" :key="card" @click="if (!isDecided) { selectedCard = card }">
                        <md-card md-with-hover :class="{ 'md-primary' : (selectedCard == card) }" class="number-card">
                            <h1>{{card}}</h1>
                        </md-card>
                    </div>
                </div>
                <div class="md-layout md-alignment-center">
                    <md-button v-bind:class="{'md-primary': !isDecided, 'md-accent' : isDecided}" class="md-raised"
                        :disabled="isFinished || !selectedCard"
                        @click="isDecided ? cancelOwnScore(playerId, scores) : updateScores(selectedCard, playerId, scores)">
                        {{ buttonText }}</md-button>
                </div>
            </div>
        </div>
    </div>
    <md-snackbar md-position="center" :md-active.sync="showSnackbar" md-persistent>
        <span>{{message}}</span>
    </md-snackbar>
</div>
