@import "~vue-material/src/components/MdLayout/mixins";
.md-avatar-icon {
  margin: 5px;
}
.number-card {
  width: 50px;
  height: 80px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#game-container {
  height:100%;
}
#center-pain{
  display: inline-flex;
  height:70%;
  flex-direction: column;
  justify-content: space-between;
}
#display {
  padding:10px;
}
.md-avatar.md-large {
  @include md-layout-small {
  min-height: 40px;
  min-width: 40px;
  font-size: 24px;
  }
}
h2.md-headline {
  text-align: center;
}
.viewer-card {
  width: 320px;
  margin: 4px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
