.md-avatar-icon {
  margin: 5px;
}
.number-card {
  width: 50px;
  height: 80px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#kick {
  display: flex;
  flex-direction: row;;
}
#game-container {
  height:100%;
}
#center-pain{
  display: inline-flex;
  height:70%;
  flex-direction: column;
  justify-content: space-between;
}
#display {
  padding:10px;
}