.result-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.md-avatar-icon {
  margin: 5px;
}
.number-card-container {
  display: flex;
  flex-direction: row;
}
.number-card {
  width: 50px;
  height: 80px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#kick {
  display: flex;
  flex-direction: row;;
}